<script src="https://accounts.google.com/gsi/client" async defer></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Exhibit X</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if(admin) { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin">Admin Panel</a>
        </li>
        <% } %> <% if(signedIn) { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/sketch/my-sketches"
            >My Sketches</a
          >
        </li>
        <% } %>
      </ul>
      <div
        id="g_id_onload"
        data-client_id="<%=oauthClientID%>"
        data-login_uri="<%=host%>/users/signIn"
        data-auto_prompt="false"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    </div>
  </div>
</nav>
