<h2>Unfortunately, your sketch <%= title %> has been rejected</h2>
<p>You sketch has been rejected.</p>
<% if (rejectionReason) { %>
<p>The reviewer gave this reason for rejecting your sketch:</p>
<blockquote><%= rejectionReason %></blockquote>
<% } %>
<p>
  If you would like, make the the appropriate changes to your sketch such that
  it adheres to the Exhibit X guidelines and resubmit your sketch to be
  reviewed.
</p>
