<h2>You sketch <%= title %> has been submitted</h2>
<p>
  Your sketch <%= title %> will be reviewed by one of Exhibit X's admins
  shortly. You should receive an email confirming if your sketch is eligible to
  be displayed on the exhibit within a week.
</p>
